# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

data/raw/scopus/
data/policymap/
data/logs/
data/predictions/
data/topics/

# DVC
.dvc/config.local
.dvc/tmp/
.dvc/cache

.snakemake/

